<html>
  <body>
    <h1>index</h1>
    <div>
      {{if .username}}
      you are logged in as {{.username}} or <a href="/logout">logout</a>
      {{else}}
      <a href="/login">login</a> or <a href="/signup">signup</a>
      {{end}}
    </div>
    {{if .username}}
    <form action="/upload" method="post" enctype="multipart/form-data" accept="image/png, image/jpeg">
      Files: <input type="file" name="file"><br><br>
      <input type="submit" value="Submit">
    </form>
    {{end}}
  </body>
</html>
