<html>
  <body>
    <h1>login</h1>
    <form method="post" action="/login">
      <div><label><input type="text" name="username" id="username" /></label></div>
      <div><label><input type="password" name="password" id="password" /></label></div>
      <div><input type="submit" value="login!!" /></div>
    </form>
  </body>
</html>
