<html>
  <body>
    <h1>logout</h1>
    <div>you are logged in as: {{ .username }}</div>
    <form method="post" action="/logout">
      <div><input type="submit" value="logout" /></div>
    </form>
  </body>
</html>
