<html>
  <body>
    <h1>signup</h1>
    <form method="post" action="/signup">
      <div><label><input type="text" name="username" id="username" /></label></div>
      <div><label><input type="password" name="password" id="password" /></label></div>
      <div><input type="submit" value="Subscribe!" /></div>
    </form>
  </body>
</html>
